html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("tenor.gif");
    background-size: cover;
    color: white;
    text-align: center;
}

.title {
    color: #A4EC9C;
    font-family: "Titan One";
    font-size: 2.7rem;
    text-shadow: 1px 1px 0 #2d2d2d, 4px 5px 0 #FFAEAE;
    transform: rotate(-4deg);
    padding-top: 30px;
    text-align: center;
}


.main h4 {
    margin: 40px 0 0 0; 
    font-size: 1.25rem;
    font-family: "Roboto Mono"
}


form {
    padding: 37px;
    line-height: 30px;
}

input[type=text] {
    background: transparent;
    border-radius: 48%;
    border: 3px solid white;
    text
    color: white;
    outline: none;
    width: 220px;
    height: 55px;
    font-size: 2rem;
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

#enterName {
    font-family: "Roboto Mono";
    font-size: 20px;
    text-align: left;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.btnIcon {
    width: 80px;
    padding: 10px;
}

/* .btnIcon:hover {
    filter: contrast(140%);
} */

#explanation, #resultNumber {
    visibility: hidden;
    font-family: "Titan One";
    padding-top: 20px;
    line-height: 3rem;
    text-align: center;
    width: 380px;
    margin: auto;
}

#explanation {
    color: #FFAEAE;
    font-size: 2rem;
}

#resultNumber {
    font-size: 4rem;
}

#tryAgain {
    font-family: "Roboto Mono";
    visibility: hidden;
    margin-top: 50px;
    font-size: 1.8rem;
    padding: 20px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    animation: bouncing 1.25s infinite;
}

@keyframes bouncing {
    0% {transform:translateY(0px);}
    50% {transform:translateY(-16px);}
    100% {transform:translateY(0px);}
}